<!-- home.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>WomanFit</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/main/home/config-plan']">
        Configurar Plan
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-container">
    <div class="card">
      <h2>Próximo Entrenamiento</h2>
      <img src="src/assets/imagenes/estiramiento.jpg" alt="Entrenamiento">
    </div>
    <div class="card">
      <h2>Entrenamientos</h2>
    </div>
    <div class="card">
      <h2>Calorias</h2>
    </div>
    <div class="card">
      <h2>Series</h2>
    </div>
    <div class="card">
      <h2>Fuerza</h2>
    </div>
    <div class="card">
      <h2>Consejos</h2>
    </div>
  </div>
</ion-content>

<!-- navegador de paginas principales -->
<!-- Revisar -->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" routerLink="/main/home">
        <ion-icon name="home"></ion-icon>
        Home
    </ion-tab-button>
    <ion-tab-button tab="search" routerLink="/main/buscar-ejercicio">
        <ion-icon name="search"></ion-icon>
        Buscar 
    </ion-tab-button>
    <ion-tab-button tab="profile" routerLink="/main/profile">
        <ion-icon name="person"></ion-icon>
        Perfil
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>