<ion-header>
  <ion-toolbar>
    <ion-title>Configuracion de Plan</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Formulario de datos para generar el plan -->
<ion-content>
  <form (ngSubmit)="savePersonalData()">
    <!-- Nombre -->
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="personalData.name" name="name" required></ion-input>
    </ion-item>

    <!-- Edad -->
    <ion-item>
      <ion-label position="floating">Edad</ion-label>
      <ion-input [(ngModel)]="personalData.age" name="age" type="number" required></ion-input>
    </ion-item>

    <!-- Peso en kg -->
    <ion-item>
      <ion-label position="floating">Peso</ion-label>
      <ion-input [(ngModel)]="personalData.weight" name="weight" type="number" required></ion-input>
    </ion-item>

    <!-- Nivel de expertis -->
    <ion-item>
      <ion-label position="floating">Expertis de ejercicios</ion-label>
      <ion-select [(ngModel)]="personalData.fitnessLevel" name="fitnessLevel" required>
        <ion-select-option value="principiante">Principiante</ion-select-option>
        <ion-select-option value="intermedio">Intermedio</ion-select-option>
        <ion-select-option value="avanzado">Avanzado</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Objetivos -->
    <ion-item>
      <ion-label position="floating">Objetivos</ion-label>
      <ion-select [(ngModel)]="personalData.goals" name="goals" required>
        <ion-select-option value="fuerza">Ganar Fuerza</ion-select-option>
        <ion-select-option value="condicionFisica">Mejorar Condicion Fisica</ion-select-option>
        <ion-select-option value="tonificar">Tonificar Musculo</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Días de entrenamiento -->
    <ion-item>
      <ion-label position="floating">Días de Entrenamiento</ion-label>
      <ion-select [(ngModel)]="personalData.diasEntrenamiento" name="diasEntrenamiento" required>
        <ion-select-option value="3">3 días</ion-select-option>
        <ion-select-option value="4">4 días</ion-select-option>
        <ion-select-option value="5">5 días</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Modo de entrenamiento -->
    <ion-item>
      <ion-label position="floating">Modo de Entrenamiento</ion-label>
      <ion-select [(ngModel)]="personalData.modoEntrenamiento" name="modoEntrenamiento" required>
        <ion-select-option value="modoCuerpoCompleto">Cuerpo Completo</ion-select-option>
        <ion-select-option value="modoSuperiorInferior">Superior e Inferior</ion-select-option>
        <ion-select-option value="modoJalarEmpujarPiernas">Jalar, Empujar y Piernas</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Ingreso del ciclo menstrual en calendario -->
    <!-- Botón para mostrar el calendario -->
    <ion-item>
      <ion-label>Fecha de inicio del último periodo</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
    </ion-item>

    <!-- Modal con el calendario -->
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
          id="datetime"
          [(ngModel)]="personalData.inicioCiclo"
          name="inicioCiclo"
          presentation="date"
          displayFormat="MM/DD/YYYY"
          required>
        </ion-datetime>
      </ng-template>
    </ion-modal>

    <!-- Botón para guardar datos -->
    <div class="button-container">
      <ion-button routerLink="/main/entrenamiento" type="submit">Guardar</ion-button>
    </div>
  </form>


  <ion-card *ngIf="faseMenstrual">
    <ion-card-header>
      <ion-card-title>Fase del ciclo menstrual actual</ion-card-title>s
    </ion-card-header>
    <ion-card-content>
      {{ faseMenstrual }}
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- navegador de paginas principales -->

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/main/home">
        <ion-icon name="home-outline"></ion-icon>
        Home
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/main/profile">
        <ion-icon name="person-outline"></ion-icon>
        Perfil
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>