<ion-header>
  <ion-toolbar style="--background: hsl(272, 90%, 60%); --color: white;">
    <ion-title>Historial de Entrenamientos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group>
    <!-- Iterar sobre entrenamientos en orden descendente -->
    <ion-accordion *ngFor="let entrenamiento of entrenamientos" class="custom-accordion">
      <!-- Encabezado del acordeón que muestra la fecha, fase y duración -->
      <ion-item slot="header" color="light" class="custom-item">
        <ion-label>
          <h2>{{ entrenamiento.endTime.toDate() | date:'short' }}</h2> <!-- Conversión de formato fecha -->
          <p>Fase: {{ entrenamiento.faseMenstrual }}</p>
          <p>Duración: {{ entrenamiento.duration | number:'1.0-0' }} segundos</p>
        </ion-label>
      </ion-item>
      
      <!-- Contenido del acordeón que muestra los ejercicios -->
      <ion-list slot="content">
        <ion-accordion-group>
          <!-- Iterar sobre los ejercicios del entrenamiento -->
          <ion-accordion *ngFor="let ejercicio of entrenamiento.ejercicios">
            <!-- Encabezado del acordeón para cada ejercicio -->
            <ion-item slot="header" class="custom-item">
              <ion-label>{{ ejercicio.nombre }}</ion-label>
              <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
            </ion-item>
            
            <!-- Contenido del acordeón para cada ejercicio que muestra los sets -->
            <ion-list slot="content" class="set-list">
              <ion-item *ngFor="let set of ejercicio.sets" class="set-item">
                <ion-label>
                  <p>Reps: {{ set.reps }} - Peso: {{ set.kg }} kg</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
