<ion-header>
  <ion-toolbar style="--background: hsl(272, 90%, 60%); --color: white;">
    <ion-title>{{ musculo }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/buscar-ejercicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group expand="inset">
    <ion-accordion *ngFor="let exercise of exercises" value="{{ exercise.id }}">
      <ion-item slot="header" color="light">
        <ion-label>{{ exercise.titulo }}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>{{ exercise.descripcion }}</p>
        <iframe [src]="exercise.url | safe" width="100%" height="200" frameborder="0" allowfullscreen></iframe>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
