ion-router-outlet {
  /* Ocupar toda la altura disponible */
  height: calc(100% - 56px);
  --background: white; /* Cambia el fondo a blanco */
}

ion-app {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Asegurar que el contenedor ocupe toda la altura de la ventana */
}

ion-content {
  flex-grow: 1; /* El contenido debe crecer para ocupar el espacio restante */
  padding-bottom: 56px; /* Ajusta 56px según la altura de tu footer */
}

ion-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  height: 56px; /* Asegura que el footer tenga una altura definida */
  --background: white; /* Cambia el fondo a blanco */
}

.footer-buttons {
  display: flex;
  justify-content: space-around; /* Distribuye los botones de manera equidistante */
  width: 100%;
}

.footer-buttons ion-button {
  --background: transparent; /* Fondo transparente */
  --color: hsl(272, 90%, 60%); /* Color del texto y del icono */
  padding: 10px;
}