<ion-header>
  <ion-toolbar style="--background: hsl(272, 90%, 60%); --color: white;">
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-container">
    <img [src]="user.profileImage || 'assets/avatar.png'" alt="Avatar" class="profile-avatar" />
    <h2 class="profile-name">{{ user.displayName }}</h2>

    <!-- Edad -->
    <ion-item>
      <ion-label position="floating">Edad</ion-label>
      <ion-input [(ngModel)]="user.age" type="number" readonly></ion-input>
    </ion-item>

    <!-- Peso -->
    <ion-item>
      <ion-label position="floating">Peso</ion-label>
      <ion-input [(ngModel)]="user.weight" type="number" readonly></ion-input>
    </ion-item>

    <!-- Entrenamientos rendidos -->
    <div class="profile-stats">
      <p>Entrenamientos</p>
      <ion-progress-bar value="0.6"></ion-progress-bar>
      <p>3/5 días</p>
    </div>

    <!-- Botón para subir imagen -->
    <ion-button expand="full" class="subir-imagen" (click)="uploadProfileImage()" (keydown.enter)="uploadProfileImage()" (keydown.space)="uploadProfileImage()">Subir Imagen</ion-button>

    <!-- Input oculto para seleccionar la imagen -->
    <input 
      type="file" 
      id="fileInput" 
      accept="image/*" 
      style="display: none;" 
      (change)="onFileSelected($event)">

    <!-- Botón para cerrar sesión -->
    <ion-button expand="full" class="cerrar-sesion" (click)="signOut()" (keydown.enter)="signOut()" (keydown.space)="signOut()">Cerrar Sesión</ion-button>
  </div>
</ion-content>


