<ion-header>
  <ion-toolbar style="--background: hsl(272, 90%, 60%); --color: white;">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/main/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Proximo Entrenamiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Sección de músculos a entrenar -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Músculos a entrenar</ion-card-title>
    </ion-card-header>
    
      <!-- Aquí se mostrarían los músculos que se trabajarán(puedes usar imágenes o íconos)-->
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let ejercicio of personalizedExercises">
            <ion-thumbnail>
              <img [src]="ejercicio.thumbnail || 'assets/default-thumbnail.jpg'" alt="{{ ejercicio.titulo }}">
            </ion-thumbnail>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>




<ion-content class="ion-padding">

  <!-- Lista de ejercicios -->
  <ion-list>
    <ion-item *ngFor="let ejercicio of personalizedExercises">
      <ion-thumbnail slot="start">
        <img [src]="ejercicio.thumbnail || 'assets/default-thumbnail.jpg'" alt="{{ ejercicio.titulo }}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ ejercicio.titulo }}</h2>
        <p>{{ ejercicio.series }} series - {{ ejercicio.reps }} reps</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Botón para comenzar entrenamiento -->
  <ion-button expand="full" (click)="startTraining()">COMENZAR ENTRENAMIENTO</ion-button>

</ion-content>




</ion-content>
