ion-content {
  --background: #f7f8fa;
  padding: 16px;

  ion-card {
    border-radius: 20px;
    margin-bottom: 20px;
    ion-card-header {
      background-color: #f0f0f0;
      border-radius: 20px 20px 0 0;
      color: #333;
      padding: 10px 16px;
    }
    ion-card-content {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  ion-item {
    --background: white;
    --border-color: #e0e0e0;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.02);
    }

    ion-thumbnail {
      border-radius: 10px;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
      }
    }

    ion-label {
      font-size: 16px;
      color: #333;

      h2 {
        font-weight: bold;
        margin-bottom: 5px;
      }

      p {
        font-size: 14px;
        color: #666;
      }
    }

    ion-button {
      --background: #6c63ff;
      --color: white;
      font-size: 14px;
      padding: 6px 12px;
      border-radius: 10px;

      &:hover {
        --background: darken(#6c63ff, 10%);
      }
    }
  }

  ion-button {
    margin-top: 20px;
    --background: #6c63ff;
    --color: white;
    font-size: 16px;
    padding: 14px;
    border-radius: 30px;

    &:hover {
      --background: darken(#6c63ff, 10%);
    }
  }
}

