<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Buscar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="filterExercises()" placeholder="Buscar"></ion-searchbar>
  
  <div class="muscle-grid">
    <ion-card *ngFor="let muscle of filtroMusculo" (click)="goToExercises(muscle.name)">
      <ion-item lines="none">
        <ion-img [src]="muscle.image" style="width: 50px; height: 50px; margin-right: 10px;"></ion-img>
        <ion-label>{{ muscle.name }}</ion-label>
      </ion-item>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/main/home">
        <ion-icon name="home"></ion-icon>
        Home
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button routerLink="/main/buscar-ejercicio">
        <ion-icon name="search"></ion-icon>
        Buscar
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/main/profile">
        <ion-icon name="person"></ion-icon>
        Profile
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
